#main {
  margin-top: 5em;
}

/*Home page*/
.home h1 {
  margin-bottom: 20px;
}

.home h4 {
  margin-bottom: 30px;
}

/*Login and register forms*/
.log-in-form {
  border: 1px solid ##101010;
  padding: 1rem;
  border-radius: 3px; }

/*Navbar*/
.title-bar {
 background: #333;
 padding: 0.9rem; }

.top-bar {
 background: #003; }
 .top-bar ul {
   background: #003; }
   .top-bar ul li {
     background: #003; }
     .top-bar ul li a {
       color: #ccc; }
       .menu-text {
         color: #ccc; }